#banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #303030;
  margin-top: 50px; }
  #banner .bg01 {
    background-image: url("/imgs/bg_mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh; }
  #banner .qoute-position {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%); }
  #banner .qoute-up {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 3px; }
  #banner .qoute-down {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 1; }
  #banner .scroll-down {
    position: absolute;
    bottom: 10vh; }
    #banner .scroll-down img {
      width: 15px;
      animation: bounceUpDown 1s infinite; }
    #banner .scroll-down .scroll-text {
      font-size: 10px; }
  @media (min-width: 768px) {
    #banner {
      margin-top: 0px; }
      #banner .img-size {
        position: relative;
        width: 100vw;
        height: auto;
        z-index: -1;
        padding: 0%;
        margin: 0; }
      #banner .bg01 {
        background-image: none;
        height: auto; }
      #banner .qoute-up {
        font-size: 30px;
        letter-spacing: 5px; }
      #banner .qoute-down {
        font-size: 11px; }
      #banner .scroll-down.scroll-text {
        font-size: 12px; } }
  @media only screen and (device-width: 768px) and (device-height: 1024px) {
    #banner .scroll-down.scroll-text {
      font-size: 12px; } }
  @media (min-width: 992px) {
    #banner .qoute-position {
      top: 45%; }
    #banner .qoute-up {
      font-size: 50px;
      letter-spacing: 5px; }
    #banner .qoute-down {
      font-size: 15px; }
    #banner .scroll-down {
      bottom: 15vh; }
      #banner .scroll-down .scroll-text {
        font-size: 15px; } }
  @media only screen and (device-width: 1024px) and (device-height: 1366px) {
    #banner .qoute-position {
      top: 20%; }
    #banner .qoute-up {
      font-size: 40px;
      letter-spacing: 5px; }
    #banner .qoute-down {
      font-size: 12px; } }
  @media (min-width: 1200px) {
    #banner .qoute-up {
      font-size: 65px;
      letter-spacing: 5px; }
    #banner .qoute-down {
      font-size: 20px; } }
