#banner {
  overflow: hidden;
  color: #303030; }
  #banner .bg {
    background-image: url("/imgs/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh; }
  @media (min-width: 992px) {
    #banner .bg {
      background-image: url("/imgs/bg.svg");
      height: 100vh; } }
