#blog {
  position: relative;
  z-index: 1;
  margin-top: -30%; }
  #blog .bg-position {
    position: relative;
    width: 100vw;
    height: auto;
    padding: 0; }
  #blog .blog-content {
    position: absolute;
    right: 0%;
    left: 0;
    top: 10%; }
  #blog .my-text {
    font-size: 12px;
    font-weight: 300; }
  #blog .blog-text {
    font-size: 31px;
    font-weight: 700;
    line-height: 1; }
  #blog .margin-content {
    margin-top: 30px; }
  #blog .topic {
    font-size: 12px;
    font-weight: 700; }
  #blog .description {
    font-family: 'Prompt';
    font-size: 10px;
    font-weight: 300;
    line-height: 2; }
  #blog .line {
    position: relative;
    top: -5px;
    border-top: 5px solid #CDBB99;
    width: 20px; }
  #blog .image-blog {
    margin-top: 30px;
    border-radius: 10px; }
  #blog .btn-position {
    margin-left: 15px; }
  #blog .btn-readmore {
    border: 1px solid #FCFBE3;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
    cursor: pointer; }
  #blog .readmore-text {
    color: #FCFBE3;
    text-decoration: none; }
  #blog .btn-readmore:hover {
    background-color: #FCFBE3; }
    #blog .btn-readmore:hover .readmore-text {
      color: #303030; }
  #blog .justify-viewall {
    margin-top: 25px;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
  #blog .btn-viewall {
    background-color: #FCFBE3;
    font-size: 10px;
    padding: 10px 5px;
    cursor: pointer; }
  #blog .btn-viewall:hover {
    background-color: #CDBB99; }
  #blog .viewall-text {
    color: #303030;
    text-decoration: none; }
  @media (min-width: 375px) {
    #blog .blog-content {
      top: 60%;
      transform: translateY(-50%); } }
  @media (min-width: 576px) {
    #blog .blog-content {
      position: initial;
      top: 55%;
      transform: translateY(-50%); }
    #blog .image-blog {
      margin-top: 50px; }
    #blog .margin-content {
      margin-top: 50px; }
    #blog .topic {
      font-size: 18px; }
    #blog .description {
      font-size: 14px; }
    #blog .justify-viewall {
      margin-top: 40px;
      -ms-flex-pack: center !important;
          justify-content: center !important; } }
  @media (min-width: 768px) {
    #blog {
      position: relative;
      margin-top: 0; }
      #blog .blog-content {
        top: 0%;
        bottom: 0%;
        transform: none; }
      #blog .my-text {
        font-size: 20px; }
      #blog .blog-text {
        font-size: 40px; }
      #blog .margin-content {
        margin-top: 50px; }
      #blog .topic {
        font-size: 16px; }
      #blog .description {
        font-family: 'Prompt';
        font-size: 10px; }
      #blog .image-blog {
        margin-top: 0px; }
      #blog .justify-viewall {
        margin-top: 15px;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; } }
  @media (min-width: 992px) {
    #blog .margin-content {
      margin-top: 100px; }
    #blog .topic {
      font-size: 25px; }
    #blog .description {
      font-family: 'Prompt';
      font-size: 15px; }
    #blog .line {
      width: 30px; }
    #blog .btn-readmore {
      font-size: 15px; }
    #blog .btn-viewall {
      font-size: 15px; } }
  @media (min-width: 1600px) {
    #blog {
      height: 50vh; } }
