body {
  background-color: #303030;
  color: #FCFBE3;
  font-family: 'Muli', 'Prompt', sans-serif; }

.no-margin {
  margin: 0px; }

.no-padding {
  padding: 0px; }

#nav {
  position: fixed; }
  #nav .bg-nav {
    background-color: #CDBB99; }
  #nav .logo-size {
    width: 36.41px; }
  #nav .menu {
    color: #303030;
    font-size: 10pt; }
  #nav .nav-item.active > .menu {
    color: #755C3B; }
  @media (min-width: 992px) {
    #nav .bg-nav {
      background-color: transparent; } }

#footer .text {
  font-size: 8pt;
  margin-bottom: 5px; }

#footer .circle {
  position: relative;
  background-color: #CDBB99;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  margin: 0px 5px; }

#footer .icon {
  height: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media (min-width: 992px) {
  #footer .text {
    font-size: 10pt; }
  #footer .circle {
    width: 35px;
    height: 35px;
    border-radius: 50px; }
  #footer .icon {
    height: 13px; } }
