body {
  background-color: #303030;
  color: #FCFBE3;
  font-family: 'Muli', 'Prompt', sans-serif; }
  @media (min-width: 1200px) {
    body {
      font-size: 15px; } }

.no-margin {
  margin: 0px; }

.no-padding {
  padding: 0px; }

#nav {
  position: fixed;
  top: 0px;
  z-index: 999; }
  #nav .bg-nav {
    background-color: #CDBB99;
    width: 100vw; }
  #nav .logo-size {
    width: 36.41px; }
  #nav .menu {
    color: #303030;
    font-size: 10pt; }
  #nav .menu:hover {
    color: #755C3B; }
  #nav .nav-link.active {
    color: #755C3B; }
  @media (min-width: 768px) {
    #nav .bg-nav {
      background-color: transparent; }
    #nav .menu {
      color: #fff;
      padding: 0px 10px; }
    #nav .menu:hover {
      color: #b1803f; }
    #nav .nav-link.active {
      color: #b1803f;
      font-weight: 700; } }
  @media (min-width: 992px) {
    #nav .menu {
      padding: 0px 15px; } }
  @media (min-width: 1600px) {
    #nav .menu {
      font-size: 15pt; } }

#footer {
  margin: 50px 0px 20px 0px;
  z-index: 1; }
  #footer .text {
    font-size: 10px;
    margin-bottom: 5px; }
  #footer .circle {
    position: relative;
    background-color: #CDBB99;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin: 0px 5px; }
  #footer .icon {
    height: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media (min-width: 992px) {
    #footer .text {
      font-size: 15px; }
    #footer .circle {
      width: 35px;
      height: 35px;
      border-radius: 50px; }
    #footer .icon {
      height: 13px; } }
  @media (min-width: 992px) and (orientation: portrait) {
    #footer {
      margin-top: 100px; } }
  @media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    #footer {
      margin-top: 100px; } }
  @media (min-width: 1200px) {
    #footer {
      margin-top: 125px; } }

/* Style the back-to-top floating button */
.sf-back-to-top {
  background-color: #755C3B;
  /* button color */
  color: #fff;
  /* text/arrow color */
  display: none;
  z-index: 999;
  /* float in bottom right corner */
  /* 20 pixels from edge */
  position: fixed;
  right: 20px;
  bottom: 20px;
  /* size of button is 50 pixels*/
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  /* round button */
  border-radius: 50%; }

a.sf-back-to-top {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  padding-left: 2px;
  padding-top: 4px; }
  a.sf-back-to-top img {
    color: #fff;
    width: 13px; }
  a.sf-back-to-top .arrow {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    speak: none;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    display: block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: -4px; }

a.sf-back-to-top.active {
  color: #fff;
  text-decoration: none; }

@keyframes leftToRight {
  from {
    width: 20%; }
  to {
    width: intial; } }
