body {
  background-color: #303030;
  color: #FCFBE3;
  font-family: 'Muli', 'Prompt', sans-serif; }

.no-margin {
  margin: 0px; }

.no-padding {
  padding: 0px; }

#nav {
  z-index: 999; }
  #nav .bg-nav {
    background-color: #CDBB99;
    width: 100vw; }
  #nav .logo-size {
    width: 36.41px; }
  #nav .menu {
    color: #fff;
    font-size: 10pt; }
  #nav .nav-item.active > .menu {
    color: #755C3B; }
  @media (min-width: 768px) {
    #nav {
      position: fixed; }
      #nav .bg-nav {
        background-color: transparent; }
      #nav .menu {
        padding: 0px 10px; } }
  @media (min-width: 992px) {
    #nav .menu {
      padding: 0px 15px; } }

#footer {
  margin: 50px 0px 20px 0px; }
  #footer .text {
    font-size: 10px;
    margin-bottom: 5px; }
  #footer .circle {
    position: relative;
    background-color: #CDBB99;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin: 0px 5px; }
  #footer .icon {
    height: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media (min-width: 992px) {
    #footer {
      margin: auto;
      margin-bottom: 20px; }
      #footer .text {
        font-size: 15px; }
      #footer .circle {
        width: 35px;
        height: 35px;
        border-radius: 50px; }
      #footer .icon {
        height: 13px; } }
  @media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    #footer {
      margin-top: 100px; } }
