@import 'fonts';

// Color
$black : #303030;
$light-yellow : #FCFBE3;
$light-brown : #CDBB99;
$brown : #755C3B;

// Font
$muli-b : 'Conv_Muli-Bold';
$muli-r : 'Conv_Muli-Regular';
$muli-l : 'Conv_Muli-Light';
$prompt : 'Prompt-Regular';