@import 'variables';

#banner {
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: $black;
    margin-top: 50px;

    .bg01 {
        background-image: url('/imgs/bg_mobile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 90vh;
    }

    .qoute-position {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-50%);
    }

    .qoute-up {
        font-weight: 700;
        font-size: 25px;
        letter-spacing: 3px;
    }

    .qoute-down {
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 1;
    }

    .scroll-down {
        position: absolute;
        bottom: 10vh;
        
        img {
            width: 15px;
            animation: bounceUpDown 1s infinite;
        }

        .scroll-text {
            font-size: 10px;
        }
    }

    @media (min-width: 768px) {
        margin-top: 0px;
        
        .img-size {
            position: relative;
            width: 100vw;
            height: auto;
            z-index: -1;
            padding: 0%;
            margin: 0;
        }

        .bg01 {
            background-image: none;
            height: auto;
        }

        .qoute-up {
            font-size: 30px;
            letter-spacing: 5px;
        }

        .qoute-down {
            font-size: 11px;
        }

        .scroll-down.scroll-text {
            font-size: 12px;
        }
    }

    @media only screen and (device-width: 768px) and (device-height: 1024px) {
        .scroll-down.scroll-text {
            font-size: 12px;
        }
    }

    @media (min-width: 992px) {
        .qoute-position {
            top: 45%;
        }

        .qoute-up {
            font-size: 50px;
            letter-spacing: 5px;
        }

        .qoute-down {
            font-size: 15px;
        }

        .scroll-down {
            bottom: 15vh;

            .scroll-text {
                font-size: 15px;
            }
        }
    }

    @media only screen and (device-width: 1024px) and (device-height: 1366px) {
        .qoute-position {
            top: 20%;
        }

        .qoute-up {
            font-size: 40px;
            letter-spacing: 5px;
        }

        .qoute-down {
            font-size: 12px;
        }
    }

    @media (min-width: 1200px) {
        .qoute-up {
            font-size: 65px;
            letter-spacing: 5px;
        }

        .qoute-down {
            font-size: 20px;
        }
    }
}