@import 'variables';

body {
    background-color: $black;
    color: $light-yellow;
    font-family: 'Muli', 'Prompt', sans-serif;

    @media (min-width: 1200px) {
        font-size: 15px;
    }
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

#nav {
    position: fixed;
    top: 0px;
    z-index: 999;

    .bg-nav {
        background-color: $light-brown;
        width: 100vw;
    }

    .logo-size {
        width: 36.41px;
    }

    .navbar-light .navbar-toggler {
        // border: transparent;
    }

    .menu {
        color: $black;
        font-size: 10pt;
    }

    .menu:hover {
        color: $brown;
    }

    .nav-link.active {
        color: $brown;
    }

    @media (min-width: 768px) {
        .bg-nav {
            background-color: transparent;
        }

        .menu {
            color: #fff;
            padding: 0px 10px;
        }

        .nav-link.active {
            color: #b1803f;
            font-weight: 700;
        }
    }

    @media (min-width: 992px) {
        .menu {
            padding: 0px 15px;
        }
    }

    @media (min-width: 1600px) {
        .menu {
            font-size: 15pt;
        }
    }
}

#footer {
    margin: 50px 0px 20px 0px;
    z-index: 1;

    .text {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .circle {
        position: relative;
        background-color: $light-brown;
        width: 25px;
        height: 25px;
        border-radius: 30px;
        margin: 0px 5px;
    }

    .icon {
        height: 9px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (min-width: 768px) {
        // margin: auto;
        // margin-bottom: 20px;
    }

    @media (min-width: 992px) {
        .text {
            font-size: 15px;
        }

        .circle {
            width: 35px;
            height: 35px;
            border-radius: 50px;
        }

        .icon {
            height: 13px;
        }
    }

    @media (min-width: 992px)
    and (orientation: portrait) {
        margin-top: 100px;
    }

    @media only screen 
    and (device-width: 1024px) 
    and (device-height: 1366px) 
    and (orientation: portrait) {
        margin-top: 100px;
    }

    @media (min-width: 1200px) {
        
    }
}

@keyframes leftToRight {
    from {width: 20%}
    to {width: intial}
}

@-webkit-keyframes leftToRight {
    from {width: 20%}
    to {width: intial}
}